@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sen:wght@400..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: hsl(31, 21%, 71%);
}

.darkMode {
  background-color: #000;
  color: white;
  nav ul li a{
    color: white;
  }
  .btn-3{
    color: white;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 88px;
}

nav ul li a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.ota-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo h2 {
  font-family: Poppins;
  font-size: 29px;
  font-weight: 800;
  line-height: 44.51px;
}

.btn-1 {
  width: 131.77px;
  height: 41px;
  border-radius: 6px;
  background-color: #fb982f;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  color: #000000;
  box-shadow: 6px 4px 4px 2px #00000040;
  border: none;
  cursor: pointer;
}

.btn-2 {
  width: 131px;
  height: 41.34px;
  background-color: black;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  border-radius: 6px;
  border: none;
  color: white;
  border: 1px solid #000000;
  box-shadow: 10px 4px 4px 0px #fb982f;
  cursor: pointer;
}

.chil-1 {
  width: 420px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 55.87px;
  padding-bottom: 77px;
}

.chil-2 {
  width: 426px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  padding-bottom: 89px;
}

.btn-3 {
  width: 195px;
  height: 53px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: black;
  background: linear-gradient(92.48deg, #fa8305 2.08%, #fb9e3c 117.25%);
  border-radius: 10px;
  border: none;
}

.boss-kfc {
  display: flex;
  gap: 157px;
  align-items: center;
}
select{
  width: 90px;
  height: 41.34px;
  padding: 2px 5px;
  background-color: white;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  border-radius: 6px;
  border: none;
  color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}